<div class="container-fluid px-1 py-5 mx-auto" >
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
            <h3>ONLINE FOOD DELIVERY</h3>
            <div class="card">
                <h5 class="text-center mb-4">Delivey Details</h5>
                <form  class="form-card"  (ngSubmit)="onSubmit()">
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-12 flex-column d-flex"> <label class="form-control-label px-3">Full name<span class="text-danger"> * </span></label> <br> <input type="text" id="fullname" name="fullname" [(ngModel)]= "view.fullname"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Street Adress<span class="text-danger"> *</span></label> <br><input type="text" id="street_adress" name="street_adress" [(ngModel)] = "view.street_adress"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Phone number<span class="text-danger"> *</span></label> <br><input type="text" id="phone_number"  name="phone_number" [(ngModel)] = "view.phone_number"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Email<span class="text-danger"> *</span></label> <br><input type="text" id="email" name="email"  [(ngModel)] = "view.email"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Delivery Area<span class="text-danger"> *</span></label> <br><input type="text" id="delivery_area"  name="delivery_area"   [(ngModel)] = "view.delivery_area"> </div>
                    </div>
                    <div class="row justify-content-between text-left">
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">Items<span class="text-danger"> *</span></label> <br><input type="text" id="items"  name="items"  [(ngModel)] = "view.items"> </div>
                        <div class="form-group col-sm-6 flex-column d-flex"> <label class="form-control-label px-3">which type of food you want?<span class="text-danger"> *</span></label> <br><input type="text" id="ans" name="ans"> </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="form-group col-sm-3"> <button type="submit" class="btn btn-lg  btn-block viewbtn ">Update</button> </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
