

<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="row justify-content-between">
    <div class="form-group col-sm-6 flex-column d-flex">

        <div class="w3-card-4" style="width:70%;">
            <header class="w3-container">
                <h1>Contact</h1>
            </header>

            <div >
                <p> 
                    <b>Address:</b> Mwanakwerekwe Zanzibar <br>
                    <br>
                    <b>Hours:</b>24 hours<br>
                    <br>
                    <b>Phone:</b> 0777086053/0876543286 <br>
                    <br>
                    <b>Email:</b>onlinefooddelivery99@gmail.com <br>
                    <br>
                    <b>P.O.BOX</b> 120 .Zanzibar

                </p>
            </div>
            
        </div>    
        
    </div>

    
</div>

